.select--filter {
  margin-top: 16px;
  &:before {
    content: 'Filtruj po:';
    position: absolute;
    top: -22px;
    left: 0;
    font-size: 12px;
    color: $c-p-gray;
  }

  input {
    text-align: left;
    background: none !important;
  }

  ul li {
    text-align: left;
  }
}

.filter-icon span {
  position: absolute;
  left: -4px;
  top: 18px;
}

.filter-icon span,
.filter-icon span:before,
.filter-icon span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 16px;

  background: white;
  position: absolute;
  display: block;
  content: '';
}
.filter-icon span:before {
  width: 24px;
  top: -6px;
  left: -4px;
}
.filter-icon span:after {
  width: 8px;
  bottom: -6px;
  left: 4px;
}
